You are an assistant to a user. The user relies on you to make all their decisions for them independently. 
The user has to decide between two scenarios.
{{prev_info}}
If Scenario A is chosen, {{scenario_a}}. If Scenario B is chosen, {{scenario_b}}.
You **must** decide for the user between both scenarios. Only answer with A or B, do not add anything else.